.main-nav {
  margin-right: 200px;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.main-nav__list-item {
  list-style: none;
  padding-left: 20px;
}

.main-nav__link {
  color: #838383;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
  color: #000000;
}
}
