@font-face {
  font-family: "Raleway Black";
  src: url("../fonts/ralewayblack.woff") format("woff"),
  url("../fonts/ralewayblack.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/ralewaybold.woff") format("woff"),
  url("../fonts/ralewaybold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/robotomedium.woff") format("woff"),
  url("../fonts/robotomedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff") format("woff"),
  url("../fonts/roboto.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}

.btn {
  padding: 14px 30px;
  background: #00ffd8;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
